html{
  font-size: 14px;
}
html,
body{
  height: 100%;
}

*, ::after, ::before{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
  color: inherit;
}
a, a:hover{
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
}
#root , .App{
  height: 100%;
}